body {
	max-width: 1600px;
	margin: 0 auto;
}
.main {
	display: flex;
	justify-content: space-between;
	min-height: 100vh;
}
.trello {
	width: 640px;
	background-color:#0079be;

}	
.t{
	border: 1px solid #0079be;
	justify-content: center;
	align-content: center;
	margin: 50% auto;	
	height: 300px;
	width: 300px;
	border-radius: 40px;
	background-color: white;
}
.t::before {
	content: "";
	display: inline-block;
	border: 1px solid #0079be;
	margin-top:20%;	
	margin-left: 17%;
	margin-bottom: 0;
	margin-right: 0;
	height: 180px;
	width: 80px;
	border-radius: 20px;	
	background-color:#0079be;
}
.t::after{
	content: "";
	display: inline-block;
	border: 1px solid #0079be;
	margin-top:0;
	margin-left:13%;	
	margin-right:0;
	margin-bottom:26.5%;
	height: 100px;
	width: 80px;
	border-radius: 20px;	
	background-color:#0079be;
}	
.yandex {
	width: 640px;
	background-color: orange;
}
.y{
	border: 1px solid orange;
	justify-content: center;
	align-content: center;
	margin: 50% auto;	
	height: 300px;
	width: 300px;
	border-radius: 40px;
	background-color: #ffcc00;
	overflow: hidden;
	
}
.y::before{
	content:"";
	display: inline-block;
	border: solid black;
	transform: translate(100%,100%);
	height: 150px;
	width: 150px;
	background-color: black;	
	
}
.y::after{
	content:"";
	display: inline-block;
	border: solid white;
	transform: translate(0,-2.48%);
	height: 150px;
	width: 150px;
	background-color: white;	
	
}
.belline {
	width: 640px;
	background-color: yellow;
}
.b{	
	margin: 50% auto;	
	justify-content: center;
	align-content: center;
	border: 1px solid yellow;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: black;
	overflow: hidden;
}
.b::before{
	display: block;
	content: "";
	border: 1px solid #ffc500;
	transform: translate(0,95%);
	width: 300px;
	height: 60px;
	background-color: #ffc500;
}
.b::after{
	display: block;
	content: "";
	border: 1px solid #ffc500;
	transform: translate(0,190%);
	width: 300px;
	height: 60px;
	background-color: #ffc500;
}


@media screen and (max-width: 768px) {
 .main {
	display: flex;
	flex-direction: column;
	min-height: 100vw;
}
}